/* evoke 2023 */

:root {
  --white: #fff;
  --black: #0e1215;
  --dark-blue: #10232e;
  --accent-1: #ff9f72;
  --accent-2: #9599ff;
  --accent-3: #ffd84e;
  --accent-4: #ff6a6a;
  --accent-5: #7fea6e;
}

body {
  background-color: var(--dark-blue);
  font-family: "obvia", sans-serif !important;
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
p {
  font-family: "obvia", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
}

li {
  font-weight: 500 !important;
}

p {
  font-weight: 400 !important;
}

a {
  color: var(--accent-1) !important;
  transition: none !important;
  text-decoration: underline;
}

a:focus,
a:hover {
  color: var(--accent-1) !important;
}

.title-bar {
  background-color: var(--dark-blue);
}

.top-bar,
.top-bar ul {
  background-color: var(--dark-blue) !important;
}

.sticky-topbar {
  border-bottom: 1px solid #666;
}

.top-bar a,
.menu-text {
  color: var(--white) !important;
  text-transform: none !important;
  font-weight: 500 !important;
}

.menu .active > a {
  background: var(--accent-1);
  color: var(--dark-blue) !important;
}

.button,
.button.primary,
.button.success {
  background-color: var(--accent-1) !important;
  color: var(--black) !important;
  transition: none !important;
  text-decoration: none !important;
  text-transform: none !important;
  font-weight: 500 !important;
}

.button:hover,
.button.primary:hover,
.button.success:hover {
  color: var(--black) !important;
  background-color: var(--accent-1) !important;
}

label {
  color: var(--white);
  font-weight: 500 !important;
  opacity: 0.5;
}

.footer {
  background-color: var(--accent-1);
  color: var(--dark-blue);
  display: none !important;
}

.callout,
.callout a {
  font-weight: 500 !important;
}

.callout a {
  color: var(--dark-blue) !important;
  text-decoration: underline;
}

.callout.primary {
  background-color: var(--accent-2);
  color: var(--dark-blue);
}

.callout.warning {
  background-color: var(--accent-3);
  color: var(--dark-blue);
}

.callout.success {
  background-color: var(--accent-5);
  color: var(--dark-blue);
}

.breadcrumbs li {
  color: var(--white) !important;
  opacity: 0.5;
}

.text-danger {
  color: var(--accent-4) !important;
}
