$main-color: #00082f;
$font-color: #fff;
$highlight-color: #fe3800;
$secondary-highlight-color: #00D68F;

@font-face {
  font-family: MotivaSans;
  src: url("/fonts/Motiva Sans Regular.otf") format("opentype");
}

@font-face {
  font-family: TisaBold;
  src: url("/fonts/TisaPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: TisaRegular;
  src: url("/fonts/TisaPro-Regular.otf") format("opentype");
}

body, p, li, a {
  font-family: TisaRegular, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: MotivaSans;
  color: $font-color !important;
}

b {
  font-family: TisaBold;
}

body {
  background-color: $main-color;
  color: $font-color;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
}

.card {
  background: $main-color;

  .card-section {
    color: $font-color;
  }

  .button.primary {
    background-color: $secondary-highlight-color;
    color: $main-color;
  }
}

a {
  color: $highlight-color;
}

label {
  color: $font-color;
}

.button {
  &.success {
    background-color: $secondary-highlight-color;
    color: $main-color;
  }
}

.top-bar {
  background-color: $main-color;

  ul {
    background-color: $main-color;

    li a {
      color: $highlight-color;
    }
  }
}

.title-bar {
  display: none;
}

.main-content {
  padding-right: 50px;
}

.menu {
  & .is-active > a {
    background: $highlight-color;
  }
  .menu-text {
    color: $highlight-color;
    background-image: url("/images/nevoke.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
    background-position: center;
    width: 200px;
  }
  .active {
    & > a {
      background-color: $highlight-color;
      color: $font-color;
    }
  }
}

.footer {
  background-color: $main-color;
}
